.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  isolation: isolate;
  width: 104px;
  min-width: 104px;
  height: 36px;
  background: radial-gradient(50% 50% at 50% 50%, #7D89C4 0%, #4967FE 100%);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button--alternative {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;
  isolation: isolate;
  width: 128px;
  min-width: 104px;
  height: 36px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(90, 90, 94, 0.3) 0%, rgba(26, 26, 26, 0.3) 100%);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}